server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
spring:
  application:
    name: youtube-extractor
  datasource:
    url: jdbc:postgresql://localhost:5433/youtube-extractor
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-migration-naming: true

logging:
  level:
    org.flywaydb: info

youtube:
  api-key: ${YOUTUBE_API_KEY}

rag:
  api:
    base-url: "http://localhost:8000"
  model:
    properties:
      max_tokens: 2048
      temperature: 0.8
      top_p: 0.3
      repeat_penalty: 1.2

qdrant:
  grpc:
    host: localhost
    port: 6334
    api-key: ${QDRANT_API_KEY}

springdoc:
  swagger-ui:
    path: /swagger

resilience4j:
  circuitbreaker:
    instances:
      transcript429:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 1
        waitDurationInOpenState: 30m
#        recordExceptions:
#          - com.youtube.external.exception.TranscriptRateLimitedException
  ratelimiter:
    instances:
      transcript:
        limitForPeriod: 1
        limitRefreshPeriod: 12s
        timeoutDuration: 30s

  retry:
    instances:
      transcript:
        maxAttempts: 2
#        retryExceptions:
#          - com.youtube.external.exception.TranscriptRateLimitedException
        waitDuration: 60s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2.0
        exponentialMaxWaitDuration: 10m
