version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.15.4
    container_name: qdrant
    restart: unless-stopped

    ports:
      - "6333:6333"
      - "6334:6334"

    volumes:
      - qdrant_storage:/qdrant/storage

    environment:
      QDRANT__SERVICE__HTTP_PORT: 6333
      QDRANT__SERVICE__GRPC_PORT: 6334
      QDRANT__SERVICE__API_KEY: ${QDRANT_API_KEY}

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:6333/health"]
      interval: 10s
      timeout: 3s
      retries: 5

  grobid:
    image: grobid/grobid:0.8.2-crf
    container_name: grobid
    restart: unless-stopped
    ports:
      - "8070:8070"
      - "8071:8071"

    ulimits:
      nofile:
        soft: 65536
        hard: 65536

    tmpfs:
      - /tmp:size=2g

    environment:
      JAVA_OPTS: >
        -Xms4g
        -Xmx7g
        -XX:+UseG1GC
        -XX:MaxGCPauseMillis=200
        -XX:+UseStringDeduplication
    deploy:
      resources:
        limits:
          cpus: "3.0"
          memory: "10g"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8071/api/isalive"]
      interval: 20s
      timeout: 5s
      retries: 10
volumes:
  qdrant_storage:
